 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 631px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  font-family: Roboto;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 353px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 391px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 604px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-image-2 {
  height: 250px;
  margin: 0 10px;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
  padding: 15px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 638px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 250px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
  padding: 15px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 346px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-2 {
    height: 215px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 643px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-3 {
    height: 215px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 670px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 880px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 340px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 830px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 290px;
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 685px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 290px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 290px;
    width: 300px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 523px;
  }
} .u-section-2 {
  min-height: 698px;
  background-image: none;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 740px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.1;
  text-shadow: -2px 2px 3px rgba(255,255,255,1);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 21px 0 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: linear-gradient(to right, #478ac9, #db545a);
  align-self: center;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-2 .u-image-1 {
  min-height: 740px;
  background-image: url("np://user.desktop.nicepage.com/Site_182792237/images/bg.jpg?rand=10ac");
  background-position: 50% 26.52%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 560px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 429px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 122px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 665px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 652px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 546px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 68px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 344px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1121px;
}

.u-section-3 .u-image-1 {
  object-position: 31.19% 47.15%;
  background-position: 31.19% 47.15%;
  height: 854px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  filter: brightness(0.75);
}

.u-section-3 .u-group-1 {
  min-height: 437px;
  width: 512px;
  height: auto;
  margin: -645px auto 0 calc(((100% - 1140px) / 2)  + -9px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 300;
  font-family: "Changa One";
  letter-spacing: 6px;
  margin: -11px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 5px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 7px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  height: 309px;
  width: 309px;
  background-image: url("np://user.desktop.nicepage.com/Site_182792237/images/c0b34397-5174-915e-1148-70a6484f34a5.jpg?rand=552a");
  background-position: 50% 50%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  height: 309px;
  width: 309px;
  background-image: url("np://user.desktop.nicepage.com/Site_182792237/images/613766e9-d96d-6638-0806-76c17ba62299.jpg?rand=b6dc");
  background-position: 50% 50%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-image-4 {
  height: 309px;
  width: 309px;
  background-image: url("np://user.desktop.nicepage.com/Site_182792237/images/4d6a43b5-d9e9-0db1-25b1-235976519a3f.jpg?rand=cb21");
  background-position: 50% 50%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-3 .u-group-2 {
  width: 800px;
  min-height: 250px;
  margin: 40px auto 60px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 913px;
  }

  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-image-2 {
    height: 273px;
    width: 273px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-3 .u-image-3 {
    height: 273px;
    width: 273px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-3 .u-image-4 {
    height: 273px;
    width: 273px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 883px;
  }

  .u-section-3 .u-image-1 {
    height: 645px;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 415px;
    width: 385px;
    margin-top: -565px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
    width: 200px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
    width: 200px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    height: 200px;
    width: 200px;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1390px;
  }

  .u-section-3 .u-image-1 {
    object-position: 43.67% 47.15%;
    background-position: 43.67% 47.15%;
    height: 528px;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 336px;
    margin-top: -496px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.0625rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 302px;
    width: 302px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 302px;
    width: 302px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 302px;
    width: 302px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 875px;
  }

  .u-section-3 .u-image-1 {
    object-position: 40.01% 47.15%;
    background-position: 40.01% 47.15%;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 385px;
    width: 276px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }
}