 .u-section-1 {
  background-image: url("images/min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-group-1 {
  width: 649px;
  min-height: 438px;
  background-image: none;
  height: auto;
  --radius: 50px;
  margin: 260px 0 42px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 7px;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 4.375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-line-1 {
  width: 493px;
  height: 8px;
  transform-origin: right center;
  margin: 26px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-group-1 {
    width: 478px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-line-1 {
    width: 380px;
    transform-origin: left center;
  }

  .u-section-1 .u-text-3 {
    margin-right: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    min-height: 359px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-line-1 {
    width: 254px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1394px;
}

.u-section-2 .u-shape-1 {
  height: 534px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 837px;
  height: 837px;
  margin: -449px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-1 {
  width: 518px;
  min-height: 513px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -712px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.22222rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.777778rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 41px 15px 40px;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 236px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 9px));
  min-height: 375px;
  grid-gap: 12px;
}

.u-section-2 .u-container-layout-2 {
  padding: 35px 20px;
}

.u-section-2 .u-group-2 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 35px 20px;
}

.u-section-2 .u-group-3 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 35px 20px;
}

.u-section-2 .u-group-4 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 35px 20px;
}

.u-section-2 .u-group-5 {
  width: 145px;
  min-height: 145px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-shape-5 {
  width: 118px;
  height: 118px;
  margin: 0 -1px 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -69px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 0.888889rem;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1321px;
  }

  .u-section-2 .u-image-1 {
    width: 735px;
    height: 735px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 453px;
    min-height: 522px;
    margin-top: -629px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 147px;
    margin-bottom: -33px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 395px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1784px;
  }

  .u-section-2 .u-image-1 {
    width: 608px;
    height: 584px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    min-height: 530px;
    margin-top: -237px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 30px;
    margin-bottom: 65px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2360px;
  }

  .u-section-2 .u-shape-1 {
    height: 719px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
    height: 493px;
    margin-top: -634px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    margin-top: -146px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1303px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2388px;
  }

  .u-section-2 .u-image-1 {
    width: 311px;
    height: 363px;
    margin-top: -657px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 288px;
    min-height: 504px;
    margin-top: -65px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1413px;
  }
} .u-section-3 {
  background-image: url("images/56-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 927px;
}

.u-section-3 .u-shape-1 {
  width: 326px;
  height: 287px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 259px 268px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 326px;
  height: 287px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#db545a, #f1c50e);
  margin: -104px 20px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 391px;
  width: 494px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -428px 56px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 60px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 19px 30px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-right: 214px;
  }

  .u-section-3 .u-group-1 {
    margin-right: 46px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 27px 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    margin-right: 14px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 14px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.6875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("images/group-people-working.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 833px;
}

.u-section-4 .u-shape-1 {
  height: 478px;
  width: 296px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 10px;
  margin: 178px auto 0 79px;
}

.u-section-4 .u-group-1 {
  min-height: 352px;
  width: 534px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 34px;
  margin: -415px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-group-1 {
    width: 498px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 65px;
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 57.88% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-shape-1 {
    height: 432px;
    width: 200px;
    margin-left: 40px;
  }

  .u-section-4 .u-group-1 {
    width: 280px;
    margin-top: -392px;
    margin-bottom: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.125rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 542px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 482px;
  height: 482px;
  background-image: url("images/g-redhead-20s-girl-with-freckles-long-hair-smiling-joyfully-with-faith-eyes-prominent-look-posing-against-purple-background.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 430px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -204px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: 29px auto 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: -49px auto 0 171px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-6 .u-image-1 {
  height: 513px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -50px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-6 .u-image-1 {
    height: 415px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -49px;
    margin-right: 0;
    padding: 9px 22px 11px 21px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-6 .u-image-1 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-btn-3 {
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 511px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -50px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-6 .u-image-1 {
    height: 314px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
  min-height: 126px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 126px;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-image-1 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-7 .u-image-2 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-7 .u-image-3 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-7 .u-image-4 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-7 .u-image-5 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-7 .u-image-6 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-7 .u-image-7 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-7 .u-image-8 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-7 .u-image-9 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-7 .u-image-10 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-7 .u-image-11 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-12 {
  padding: 30px 40px;
}

.u-section-7 .u-image-12 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}